* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
  background-color: #eeeeee;
}

/* Header slider  */

.grid {
    width: 1140px;
    margin: 0 auto;
}

.header-slider {
    padding-top: 50px;
    font-size: 0;
}

.header-logo, 
.header-nav {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

.header-logo {
    max-width: 270px;
    font-size: 47px;
    font-weight: 700;
    text-decoration: none;
    color: #303030;
 }

.header-nav {
    width: calc( 100% - 270px );
}

.header-nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

.header-nav li {
    display: inline-block;
    padding-left: 40px;
}

.header-nav li:last-child:after {
    padding-left: 0;
}

.header-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #303030;
}

.header-nav a:hover {
    text-decoration: underline;
}
/* End Header slider */


/*	Slider-section    */

.slider-section {
	padding: 100px 0;
}

.slider-column {
	font-size: 0;
	padding: 20px 0 40px;
	
}

.slider-column:first-child {
    width: 620px;
    margin-right: 100px;
}
.slider-column:last-child {
    width: calc( 100% - 620px );    
} 

.slider-column {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}  

.slider-column h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 150px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 150px;
}

.slider-column p {
	margin: 30px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: lighter;
	line-height: 36px;
	height: 110px;
	overflow: hidden;
}

.slider-column a {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #e10011;
	font-weight: 900;
	text-decoration: none;
}

.slider-nav {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.slider-nav ul {
	list-style: none;
}

.slider-nav li {
	display: inline-block;
	margin-left: 5px;
	
}
.slider-nav a {
	color: #303030;
}
.slider-nav a.is-active {
	color: #e10011;
}

/* End Slider section  */


/* Section-gallery   */

.section-gallery .grid {
	background-color: #fff;
	padding: 110px 65px;
	font-family: 'Raleway', sans-serif;
}

.featured h1,
.featured p  {
	text-align: center;
}

.featured h1 {
	padding-bottom: 10px;
	font-size: 48px;
}

.featured p:last-child {
	margin: 0 auto;
	padding-bottom: 70px;
	width: 550px;
	font-size: 18px;
	line-height: 24px;
	color: #303030;
}

.gallery {
	font-size: 0;
	margin: 0 auto;
	position: relative;
}

.item {
    display: inline-block;
    position: relative;
    font-size: 16px;
    border-radius: 5px;
    overflow: hidden;
}	

.gallery-item {
	display: inline-block;
	padding-right: 12px;
	padding-bottom: 20px;
}

.gallery-item:first-child {
	width: 690px;
	position: static;
	display: inline-block;
	margin-right: 0px;
}	

.gallery-item:nth-of-type(2) {
	position: absolute;
	display: inline-block;
	padding-right: 0;
}

.gallery-item:last-child {
	display: inline-block;
	padding-right:  0;
  } 

 .gallery-item:nth-of-type(2) img {
 	width: calc( 1000px - 685px );
 }

 .gallery-item:first-child img {
 	width: 670px;
 }

.item img {
    display: block;
}

.item:hover .item-text {
    display: block;
}

.item-text {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 250px;
    padding-left: 30px;
    text-align: left;
    background-color: rgba(225, 0, 17, 0.9);
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.item-text p:last-child {
	text-decoration-line: underline;
	padding-bottom: 20px;
}

/* End Section-gallery */